html{
  height: 100vh;
  width: 100%;
}

body {
  background: linear-gradient(16deg, #0f0f0f, #b6bbff);
  background-size: 400% 400%;

  -webkit-animation: Gradient 49s ease infinite;
  -moz-animation: Gradient 49s ease infinite;
  animation: Gradient 49s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:17% 0%}
  50%{background-position:84% 100%}
  100%{background-position:17% 0%}
}
@-moz-keyframes Gradient {
  0%{background-position:17% 0%}
  50%{background-position:84% 100%}
  100%{background-position:17% 0%}
}
@keyframes Gradient {
  0%{background-position:17% 0%}
  50%{background-position:84% 100%}
  100%{background-position:17% 0%}
}

.reveal{
  position: relative;
  transform: translateY(75px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
/*
body{
  background: linear-gradient(170deg, rgba(100, 100, 100, 0.60) 0.93%, rgba(87, 86, 86, 0.08) 96.6%);
  backdrop-filter: blur(33px);
  height: 100vh;
  width: 100%;
}*/
/*
:root {
  --rando: Math.floor((Math.random() * 20) + 1);
}*/

.sphere{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  border-radius: 455px;
  background: #5d73e4;
  filter: blur(75px); 
  z-index: -1;
  /*transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;*/
  animation-name: box;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}
@keyframes box {
  0%   {left: 50%; top: 50%;}
  17%  {left: var(--rando0); top: var(--rando1);}
  25%  {left: var(--rando2); top: var(--rando3);}
  50%  {left: var(--rando4); top: var(--rando5);}
  75%  {left: var(--rando6); top: var(--rando7);}
  87% {left: var(--rando8); top: var(--rando9);}
  100% {left: 50%; top: 50%;}
}

.registration-field{
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 100%;
  filter: invert(0.85);
  margin-bottom: 0px;
}

.title{
  margin-top: 0px;
  margin-bottom: 20px;
  color: #e7e7e7;
  text-align: center;
  font-family: Lobster;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description{
  margin: auto;
  color: rgba(255, 255, 255, 0.70);
  width: 80%;
  text-align: center;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

button {
  position: absolute;
  bottom: 20px;
  margin-left: 30%;
  width: 40%;
  height: 60px;
  transition-duration: 0.4s;
  border-radius: 20px;
  border: #FFF;
  background: linear-gradient(239deg, #3c39f9 -22.68%, rgba(232, 232, 232, 0.92) 127.74%);
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.2);

  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 62.5% */
}

button:hover {
  background-color: #502eda; /* Green */
  color: white;
}