html{
  height: 100%;
}

body{
  background: linear-gradient(170deg, rgba(100, 100, 100, 0.60) 0.93%, rgba(87, 86, 86, 0.08) 96.6%);
  backdrop-filter: blur(33px);
}

.sphere{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 455px;
  background: #5d73e4;
  filter: blur(75px); 
  z-index: -1;
}
